<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update the list</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Update list</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="text" name="name">
          <button>Update</button>
        </form>
      </div>
    </main>
  </body>
</html>
