<!-- <!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
           <div>
            <h1>My Lists</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                <tr>
                    {% for items in todo_list %}
                    <td> {{items.name}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
           </div>
        </main>
    </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>
        <p>
          <a href="{% url 'todo_item_create' %}">Create new list items</a>
        </p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Items</th>
            </tr>
          </thead>
          <tbody>
            {% for item in todo_list %}
              <tr>
                <td>
                  <a href="{% url 'todo_list_detail' item.id %}">{{ item.name }}</a>
                </td>
                <td>{{ item.items.count }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
