<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_items.name }}</h1>
        <p>
          <a href="{% url 'todo_list_update' id=todo_items.id %}">Edit</a>
        </p>
        <p>
          <a href="{% url 'todo_list_delete' id=todo_items.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
              <tbody>
                {% for item in todo_items.items.all %}
                  <tr>
                    <td>
                      <a href="{% url 'todo_item_update' id=todo_items.id %}">{{ item.task }}</a>
                    </td>
                    <td>{{ item.due_date }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </tr>
          </thead>
        </table>
      </div>
    </main>
  </body>
</html>
